/*Google fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marck+Script&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marck+Script&family=Oswald:wght@200..700&display=swap');


/*Astrisk wildcard selector to override default styles added by th browser*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*general styles*/
body{
    min-height:100vh;
    display: flex;
    flex-direction:column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color:#ffffff;
    padding:0 1rem;
    position: fixed;
    z-index: 99; 
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;                    /* Make the lable to show*/
    justify-content: space-between;    /*Add space between contents*/
    align-items: baseline;/*Make sure they all show in a line verticlly */
}
 
header a {
    text-decoration: none;   /* fixe te link text ta be blue and get an aunderline*/
    color: inherit;
}

 
h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Style Navbar with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%; 
    left:0; 
    padding:0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display:none;
    top:100%;     /*0% would represent the top of the parent, and 100% represents the bottom of it. so by set this to 100% the menue wwill apper under the nav */
}

/*Nav toggle*/
#nav-toggle:checked~nav {  /* we need a tilde to indicate that we want to target the adjoining nav element*/
display:block;
}

/* take a way the checkbox from the header*/
#nav-toggle{
    display:none;
}

/*Make the X bigger or what ever icon we put there*/
.nav-toggle-label{
    font-size: 2rem;
}

/*main Content*/
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;    /* Push the content down for the main section due to that it dose not show under the header*/
}

/*footer*/
#social-networks{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#social-networks i{
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}



/*Media query: tablets & Larger ( 768px & up) */

@media screen and (min-width:768px){   /*mellan slag mellan ){är jätteviktigt annars funkar inte koden)
    /*Header*/
    nav {
        display: block;        /*Make sure the navbar allways is displayed*/
        position: relative;     /*Puts the menu back in the header*/
        box-shadow: none;
        width: fit-content;     /* Will not take all the space in the header*/
        padding-right: 1rem;    /*allow our felx styles from earlier to puush it nicely to the right*/
    }
    #menu {
        display: flex;
    }

    #menu > li{
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display:none;
    }

    /* Make the logo stand out more*/
    #logo {
        font-size: 280%;
        line-height: 75px;    /* To give it some more extra space at the top*/
        margin: 0 0.5rem;
    }

    /* Main Content*/
    main {
        margin-top: 79px;       /*Push main content down under the larger header*/
    }
}

/* Add a hover effect on menu on laptops and upwards*/
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}